@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #__next {
        @apply h-full
    }

    * {
        @apply font-lato
    }
}

@layer components {
    .paper {
        @apply rounded-lg bg-white shadow-md border border-gray-100;
    }

    .btn {
        @apply inline-flex items-center border border-transparent px-4 py-2 text-sm font-medium rounded-md disabled:opacity-60 disabled:cursor-not-allowed;
    }

    .btn-xs {
        @apply btn px-2.5 py-1.5 text-xs rounded;
    }

    .btn-sm {
        @apply btn px-3 py-2 leading-4;
    }

    .btn-lg {
        @apply btn px-4 py-2 text-base;
    }

    .btn-xl {
        @apply btn px-6 py-3 text-base;
    }

    .btn-full {
        @apply w-full justify-center
    }

    .btn-primary {
        @apply shadow-sm  text-white bg-fiord-600 enabled:hover:bg-fiord-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-fiord-500;
    }

    .btn-secondary {
        @apply text-fiord-700 bg-fiord-100 enabled:hover:bg-fiord-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-fiord-500;
    }

    .btn-white {
        @apply border-gray-300 text-gray-700 bg-white enabled:hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-fiord-500;
    }

    .btn-transparent {
        @apply border-0 text-gray-700 bg-transparent hover:text-fiord-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-fiord-500;
    }

    .btn-rounded {
        @apply rounded-full px-4 py-2;
    }
    .btn-rounded.btn-xs {
        @apply px-3 py-1.5 text-xs;
    }

    .btn-rounded.btn-sm {
        @apply px-3.5 py-2 leading-4;
    }

    .btn-rounded.btn-lg {
        @apply px-5 py-2 text-base;
    }

    .btn-rounded.btn-xl {
        @apply px-6 py-3 text-base;
    }

    .btn-circular {
        @apply rounded-full p-2;
    }
    .btn-circular.btn-xs {
        @apply p-1;
    }

    .btn-circular.btn-sm {
        @apply p-1.5;
    }

    .btn-circular.btn-xl {
        @apply p-3;
    }


    .select {
        @apply ml-6 form-select pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-fiord-500 focus:border-fiord-500 sm:text-sm rounded-md;
    }


    .badge {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium;
    }

    .badge-lg {
        @apply px-3 py-0.5 text-sm;
    }
    .badge-dot::before {
        content: '';
        @apply block -ml-0.5 mr-1.5 h-2 w-2 rounded-full;
    }
    .badge-rounded {
        @apply rounded;
    }
    .badge-lg.badge-rounded {
        @apply rounded-md;
    }




    /* From node_modules/react-popper-tooltip/dist/styles.css */
    .tooltip {
        --tw-bg-opacity: 1;
        --tooltip-background: rgb(255 255 255 / var(--tw-bg-opacity));
        --tooltip-border: transparent;

        @apply shadow-md rounded flex flex-col z-50 border border-solid;
        background-color: var(--tooltip-background);
        border-color: var(--tooltip-border);
        padding: .4rem;
    }

    .tooltip[data-popper-interactive='false'] {
        @apply pointer-events-none;
    }

    .tooltip-arrow {
        @apply h-4 w-4 absolute pointer-events-none;
    }

    .tooltip-arrow::before {
        @apply border-solid block h-0 w-0 m-auto;
        content: '';
    }

    .tooltip-arrow::after {
        @apply border-solid block absolute h-0 w-0 m-auto;
        content: '';
    }

    .tooltip[data-popper-placement*='bottom'] .tooltip-arrow {
        @apply left-0 top-0;
        margin-top: -.4rem;
    }

    .tooltip[data-popper-placement*='bottom'] .tooltip-arrow::before {
        @apply absolute -top-px;
        border-color: transparent transparent var(--tooltip-border) transparent;
        border-width: 0 .5rem .4rem .5rem;
    }

    .tooltip[data-popper-placement*='bottom'] .tooltip-arrow::after {
        border-color: transparent transparent var(--tooltip-background) transparent;
        border-width: 0 .5rem .4rem .5rem;
    }

    .tooltip[data-popper-placement*='top'] .tooltip-arrow {
        @apply bottom-0 left-0;
        margin-bottom: -1rem;
    }

    .tooltip[data-popper-placement*='top'] .tooltip-arrow::before {
        @apply absolute top-px;
        border-color: var(--tooltip-border) transparent transparent transparent;
        border-width: .4rem .5rem 0 .5rem;
    }

    .tooltip[data-popper-placement*='top'] .tooltip-arrow::after {
        border-color: var(--tooltip-background) transparent transparent transparent;
        border-width: .4rem .5rem 0 .5rem;
    }

    .tooltip[data-popper-placement*='right'] .tooltip-arrow {
        @apply left-0;
        margin-left: -.7rem;
    }

    .tooltip[data-popper-placement*='right'] .tooltip-arrow::before {
        border-color: transparent var(--tooltip-border) transparent transparent;
        border-width: .5rem .4rem .5rem 0;
    }

    .tooltip[data-popper-placement*='right'] .tooltip-arrow::after {
        @apply top-0;
        border-color: transparent var(--tooltip-background) transparent transparent;
        border-width: .5rem .4rem .5rem 0;
        left: 6px;
    }

    .tooltip[data-popper-placement*='left'] .tooltip-arrow {
        @apply right-0;
        margin-right: -.7rem;
    }

    .tooltip[data-popper-placement*='left'] .tooltip-arrow::before {
        border-color: transparent transparent transparent var(--tooltip-border);
        border-width: .5rem 0 .5rem .4em;
    }

    .tooltip[data-popper-placement*='left'] .tooltip-arrow::after {
        @apply top-0;
        border-color: transparent transparent transparent var(--tooltip-background);
        border-width: .5rem 0 .5rem .4em;
        left: 3px;
    }

    .icon-btn {
        @apply p-1 text-white ;
    }
    .icon-btn > div {
        @apply rounded-full bg-transparent p-1;
    }
    .icon-btn:hover > div {
        @apply bg-white/30;
    }

    .tooltip-title {
        @apply tooltip-border-transparent tooltip-bg-gray-900/80 text-white text-xs font-light
    }
}
